@import "../../../assets/styles/setup/functions";

:host {
    position: absolute;
    right: 0;

    @media screen and (max-width: 760px) {
        position: static;
    }
}

.score-container {
    position: relative;
    .score-txt {
        font-size: rem(20px);
        padding: 8px 20px;
        padding-right: 0;

        @media screen and (max-width: 760px) {
            font-size: 2rem;
        }
    }
    .animated-added-score {
        font-size: rem(20px);
        position: absolute;
        top: 100px;
        right: 0;

        transition: all 0.3s;

        &.swipe {
            animation: slideup 0.3s both;
        }
    }
}

@keyframes slideup {
    0% {
        top: 100px;
    }
    100% {
        opacity: 0.2;
        top: 10px;
    }
}
