@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/mixins";
:host {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto;
}

.settings {
    h4 {
        font-size: rem(36px);
        font-family: Londrina-Light, cursive;
        margin-bottom: 8px;
    }
    .levels {
        button {
            position: relative;
            // @include regular-btn;

            &:not(:first-of-type) {
                margin-left: 30px;
            }
        }
        .description {
            position: absolute;
            top: 50px;
            left: -50%;
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            max-width: 0;
            font-size: rem(18px);
            border-radius: 3px;

            transition: opacity 0.3s;

            &.show {
                visibility: visible;
                opacity: 1;
                background-color: #f3ca40;
                color: #333;
                width: 200px;
                padding: 20px;
                max-height: initial;
                max-width: initial;
            }
        }
        .level-description-medium {
            left: -30%;
        }
    }
}
