<section class="settings flex column align-center">
    <div *ngIf="!user" class="username">
        <h4>Enter your name</h4>
        <form class="flex column" (ngSubmit)="onSaveUsername(usernameInput.value)">
            <input #usernameInput type="text" required>
            <button>Save</button>
        </form>
    </div>
    <div class="levels-container" [ngClass]="{'hidden': !user}">
        <h4>Select Difficulty</h4>
        <div class="levels flex">
            <button (mouseenter)="setLevelDescription('easy')" (mouseleave)="setLevelDescription('')"
                [disabled]="!user" (click)="onLevelSelect('easy')" class="regular-btn">
                Easy
                <div class="description level-description-easy" [ngClass]="{'show': currHoveredLevel === 'easy'}">
                    {{levelDescription}}
                </div>
            </button>
            <button (mouseenter)="setLevelDescription('medium')" (mouseleave)="setLevelDescription('')"
                [disabled]="!user" (click)="onLevelSelect('medium')" class="regular-btn">
                Medium
                <div class="description level-description-medium" [ngClass]="{'show': currHoveredLevel === 'medium'}">
                    {{levelDescription}}
                </div>

            </button>
            <button (mouseenter)="setLevelDescription('hard')" (mouseleave)="setLevelDescription('')"
                [disabled]="!user" (click)="onLevelSelect('hard')" class="regular-btn">
                Hard
                <div class="description level-description-hard" [ngClass]="{'show': currHoveredLevel === 'hard'}">
                    {{levelDescription}}
                </div>

            </button>
        </div>
    </div>
</section>