<section class="settings flex column align-center">
    <h4>Select Difficulty</h4>
    <div class="levels flex">
        <button (mouseenter)="setLevelDescription('easy')" (mouseleave)="setLevelDescription('')"
            (click)="onLevelSelect('easy')">
            Easy
        </button>
        <button (mouseenter)="setLevelDescription('medium')" (mouseleave)="setLevelDescription('')"
            (click)="onLevelSelect('medium')">
            Medium
        </button>
        <button (mouseenter)="setLevelDescription('hard')" (mouseleave)="setLevelDescription('')"
            (click)="onLevelSelect('hard')">
            Hard
        </button>
    </div>
    <div *ngIf="levelDescription" [ngClass]="{'show': levelDescription}" class="level-description">{{levelDescription}}
    </div>
</section>