* {
  box-sizing: border-box;
}

html {
  font-family: 'Londrina', cursive;
  letter-spacing: 0.8px;
  color: #fff;
  line-height: normal;
  font-size: 16px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 1130px) {
    font-size: 13px;
  }
}

body {
  margin: 0;
  padding: 0;
  // background: #7289da;
  background-color: #3c8bdf;
  background-image: url("../../img/bg.svg");
  background-size: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  width: 100%;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
ul {
  margin: 0;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}

button:active {
  color: white;
  border-color: white;
}

textarea {
  outline: none;
  resize: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

input,
select {
  padding: 5px;
  padding-left: none;
  border: unset;
  background: unset;
  border-bottom: 1px solid black;
}
pre {
  margin: 0;
}
