button {
  border: none;
}

.regular-btn {
  font-size: rem(20px);
  background-color: #f04882;
  color: white;
  padding: 8px 20px;
  border-radius: 3px;

  transition: 0.3s background-color;

  &:hover {
    background-color: darken(#f04882, 5%);
  }
}
