<main class="game-app">
    <section *ngIf="!isGameOn" class="pre-game-screen flex justify-center">
        <button (click)="onStartGame()" class="regular-btn">{{isFirstTime ? 'I am ready' : 'Play again' }}</button>
        <button (click)="onResetDifficulty.emit()" class="regular-btn">Change Difficulty</button>
    </section>
    <ng-container *ngIf="!isGameOn && endingScore" class="ending-screen">
        <ending-screen [endingScore]="endingScore"></ending-screen>
    </ng-container>
    <section *ngIf="isGameOn" class="game-container flex column align-center">
        <score #score></score>
        <div class="actions flex justify-center">
            <button (click)="playWordSound()" class="regular-btn">Play word again</button>
            <button *ngIf="!isLoadingHint; else showSpinner" (click)="onGetHint()" class="regular-btn">Hint</button>
            <ng-template #showSpinner>
                <button class="regular-btn flex">
                    <img class="spinner" src="../../../assets/img/spinner.svg">
                </button>
            </ng-template>
            <button (click)="onResetDifficulty.emit()" class="regular-btn">Change Difficulty</button>
        </div>
        <div class="progress-count-container flex">
            <span class="word-remaining word-{{idx + 1}}" *ngFor="let _ of [].constructor(totalWords); let idx = index"
                [ngClass]="{'filled': currWordNum >= idx + 1}"></span>
        </div>
        <span *ngIf="error" class="error">{{error}}</span>
        <span *ngIf="hint" class="hint">{{hint}}</span>
        <form (ngSubmit)="onWordSubmit($event)" class="flex">
            <input [ngClass]="{'wrong': isWrongGuess}" type="text" name="user-input" [(ngModel)]="userInput"
                #keyboardInput (keydown)="onUserInput($event)" autocomplete="off" placeholder="Start typing...">
            <button>Guess</button>
        </form>
        <keyboard></keyboard>
    </section>
</main>