@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/setup/functions";
.game-app {
    max-width: 1085px;
    margin: 0 auto;
    .pre-game-screen {
        button {
            &:not(:first-of-type) {
                margin-left: 20px;
            }
        }
    }
    .game-container {
        position: relative;

        .actions {
            margin-bottom: 10px;
            & > *:not(:first-of-type) {
                margin-left: 8px;
            }
            .spinner {
                width: 25px;
                height: 25px;
            }
            @media screen and (max-width: 430px) {
                flex-direction: column;
                align-items: center;

                & > * {
                    min-width: 161.65px;
                    margin-left: 0 !important;
                    &:not(:last-of-type) {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .progress-count-container {
            margin-bottom: 10px;
            .word-remaining {
                box-sizing: border-box;
                width: 3rem;
                height: 3rem;
                padding-top: 0;
                margin: 0.5rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #d9d2d2;
                box-shadow: inset 0 0rem 0 #c4beb8, 0 0.2rem 0 #979693;
                font-size: 1.5rem;
                text-transform: uppercase;
                color: #00000000;
                transition: background 200ms, padding-top 500ms, box-shadow 500ms;

                &.filled {
                    background: #55d055;
                    box-shadow: inset 0 0rem 0 #429142, 0 0.2rem 0 #328432;
                }
            }
        }

        .error,
        .hint {
            margin-bottom: 10px;
            text-align: center;
        }

        form {
            margin-bottom: 20px;
            max-width: 100%;
            input {
                @include input;
                max-width: 100%;
                &::placeholder {
                    text-align: center;
                    -webkit-text-fill-color: rgb(255, 255, 255);
                    -webkit-text-stroke-color: rgb(255, 255, 255);
                    opacity: 0.5;
                }
                &.wrong {
                    position: relative;
                    animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                    background: url("../../../assets/img/error-icon.png") 95% 50% no-repeat;
                    background-size: 25px 25px;
                }
            }
            button {
                @include game-btn;
                width: 36%;
            }
        }
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    33% {
        transform: translate3d(-6px, 0, 0);
    }

    66% {
        transform: translate3d(6px, 0, 0);
    }
}
