/* Breakpoint mixins */
@import "../setup/functions";
@mixin for-mobile-layout {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $narrow-breakpoint) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $normal-breakpoint) {
        @content;
    }
}

@mixin input {
    font-family: Londrina-Black, cursive;
    max-width: 460px;
    font-size: rem(50px);
    outline: none;
    color: #fff;
    text-shadow: 1px 2px 0 #f04882;
    letter-spacing: 1.8px;
    border: none;
    text-align: center;
    background: none;
}
@mixin game-btn {
    font-family: Londrina, cursive;
    background-color: #ff754a;
    border: none;
    border-radius: 3px;
    font-size: rem(30px);
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
    margin: 10px 0;
}
