@import "../../../assets/styles/setup/functions";
.leaderboard {
    .levels {
        max-width: 980px;
        background-color: rgba(238, 238, 238, 0.212);
        border-radius: 25px;
        padding: 5px;
        margin-bottom: 10px;
        button {
            border-radius: 25px;
            width: 120px;
            text-align: center;
            background-color: transparent;
            color: #fff;
            font-size: rem(20px);
            padding: 10px;
            transition: border 0.3s;
            letter-spacing: 0.8px;
            border: 2px solid transparent;
            transition: border 0.3s;

            @media screen and (max-width: 496px) {
                width: 105px;
            }
            &.highlighted-option {
                border: 2px solid #f04882;
            }
        }
    }
    .trophy-container {
        width: 120px;
        margin-bottom: 15px;
    }
    .leaderboard-container {
        width: 490px;

        @media screen and (max-width: 496px) {
            width: 98%;
        }

        ul {
            width: 100%;

            li {
                font-size: rem(25px);
                border-radius: 3px;
                padding: 5px;
                &:first-of-type {
                    background-color: #fec107;
                }
                &:nth-of-type(2) {
                    background-color: silver;
                }
                &:nth-of-type(3) {
                    background-color: #ac7d18;
                }
                &:not(:last-of-type) {
                    margin-bottom: 5px;
                }
                & > * {
                    width: 100%;
                }

                .user-score {
                    .position {
                        width: 45px;
                    }
                    .username {
                        width: 120px;
                        text-align: center;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    .score {
                        width: 55px;
                    }
                }
            }
        }
    }
    .spinner {
        width: 50px;
        height: 50px;
    }
}
