<div class="keyboard-base">
    <div class="key tab">Tab</div>
    <div keyboardClick class="key q">Q</div>
    <div keyboardClick class="key w">W</div>
    <div keyboardClick class="key e">E</div>
    <div keyboardClick class="key r">R</div>
    <div keyboardClick class="key t">T</div>
    <div keyboardClick class="key y">Y</div>
    <div keyboardClick class="key u">U</div>
    <div keyboardClick class="key i">I</div>
    <div keyboardClick class="key o">O</div>
    <div keyboardClick class="key p">P</div>
    <div keyboardClick class="key [">[</div>
    <div keyboardClick class="key ]">]</div>
    <div keyboardClick class="key \">\</div>
    <div keyboardClick class="key capslock">CapsLk</div>
    <div keyboardClick class="key a">A</div>
    <div keyboardClick class="key s">S</div>
    <div keyboardClick class="key d">D</div>
    <div keyboardClick class="key f">F</div>
    <div keyboardClick class="key g">G</div>
    <div keyboardClick class="key h">H</div>
    <div keyboardClick class="key j">J</div>
    <div keyboardClick class="key k">K</div>
    <div keyboardClick class="key l">L</div>
    <div keyboardClick class="key ;">;</div>
    <div keyboardClick class="key '">'</div>
    <div keyboardClick class="key backspace">Return</div>
    <div keyboardClick class="key shift lshift">Shift</div>
    <div keyboardClick class="key z">Z</div>
    <div keyboardClick class="key x">X</div>
    <div keyboardClick class="key c">C</div>
    <div keyboardClick class="key v">V</div>
    <div keyboardClick class="key b">B</div>
    <div keyboardClick class="key n">N</div>
    <div keyboardClick class="key m">M</div>
    <div keyboardClick class="key ,">,</div>
    <div keyboardClick class="key .">.</div>
    <div keyboardClick class="key /">/</div>
    <div keyboardClick class="key shift rshift">Shift</div>
    <div keyboardClick class="key control lctrl">Ctrl</div>
    <div keyboardClick class="key lalt">Alt</div>
    <div keyboardClick class="key command">Cmd</div>
    <div keyboardClick class="key space">Space</div>
    <div keyboardClick class="key command">Cmd</div>
    <div keyboardClick class="key ralt">Alt</div>
    <div keyboardClick class="key control rctrl">Ctrl</div>
    <div keyboardClick class="key fn">Fn</div>
</div>