:host {
    width: 100vw;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 760px) {
        display: none;
    }
}
.keyboard-base {
    width: 100%;
    max-width: 1085px;
    padding: 20px;
    background-color: #305B88;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, minmax(10px, 30px));
    grid-template-rows: repeat(4, 60px);
    grid-gap: 5px;
}

.key {
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
    cursor: pointer;
    &:hover {
        border: 1px solid #eeeeee;
    }

    &:active {
        box-shadow: inset 0 0 50px #ddd, 0 0 2px #888;
    }
    &.active {
        box-shadow: inset 0 0 50px #b4b3b3, 0 0 2px #b4b3b3;
    }
}

.delete {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.\ {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.backspace {
    grid-column: span 4;
}

.lshift {
    grid-column: span 5;
}

.rshift {
    grid-column: span 5;
}

.lctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
    // font-size: 14px;
}

.space {
    grid-column: span 13;
}
